@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body{
            background-color: #220000;
        }
    </style>
</head>
<body>

    <div class="myDiv">
        <h1>Welcome to Sun Heaven Hotels and Resort Restaurant</h1>
        @* <h3>Dear Guest, Please Order Now. Before ordering, Please look through our Menu</h3> *@
        @* <img src="/images/restaurant_2.jpg" class="banner-img" alt="Ifeanyi"/> *@
    </div>

    <div id="card_container">
        <div class="card">
            <img src="/images/burger.jpeg" alt="Ifeanyi"/>
            <div class="container">
                <h2>Burger</h2>
                <a asp-controller="Orders" asp-action="Create">
                    <input type="button" class="btn  btn-primary" value="Order Now" />
                </a>
            
            </div>
        </div>


        <div class="card">
            <img class="card_img" src="/images/Chicken.jpeg" alt="Ifeanyi" />
            <div class="container">
                <h2>Chicken</h2>
                <a asp-controller="Orders" asp-action="Create">
                    <input type="button" class="btn  btn-primary" value="Order Now" />
                </a>

            </div>
        </div>


        <div class="card">
            <img class="card_img" src="/images/Drinks.jpeg" alt="Ifeanyi" />
            <div class="container">
                <h2>Drinks</h2>
                <a asp-controller="Orders" asp-action="Create">
                    <input type="button" class="btn  btn-primary" value="Order Now" />
                </a>

            </div>
        </div>


        <div class="card">
            <img class="card_img" src="/images/Edikaikong.jpeg" alt="Ifeanyi" />
            <div class="container">
                <h2>Edikaikong</h2>
                <a asp-controller="Orders" asp-action="Create">
                    <input type="button" class="btn  btn-primary" value="Order Now" />
                </a>

            </div>
        </div>

    
        <div class="card">
            <img class="card_img" src="/images/Pastries.jpeg" alt="Ifeanyi" />
            <div class="container">
                <h2>Patries</h2>
                <a asp-controller="Orders" asp-action="Create">
                    <input type="button" class="btn  btn-primary" value="Order Now" />
                </a>

            </div>
        </div>

        <div class="card">
            <img class="card_img" src="/images/Sun Heaven Club Sandwich.jpeg" alt="Ifeanyi" />
            <div class="container">
                <h2>Club Sandwich</h2>
                <a asp-controller="Orders" asp-action="Create">
                    <input type="button" class="btn  btn-primary" value="Order Now" />
                </a>

            </div>
        </div>
    </div>

</body>
</html>